<section>
  <img src="/testing/images/gold.png" id="gold-ele" />
  <img src="/testing/images/logo.svg" id="logo-en" />
  <img src="/testing/images/chinese.svg" id="logo-ch" />
  <div id="video-container">
    <video src="/testing/images/sample.mp4" id="video"></video>
    <div id="video-bg"></div>
  </div>
  <div class="share-section">
    <p class="social">下载并分享动态视频到<br/>
    <img id="weibo" src="/testing/images/weibo.svg" />微博或
    <img id="wechat" src="/testing/images/wechat.svg" />微信，带上话题</p>
    {{!-- <div id="copy-hashtag">
      #修丽可##三亚国际免税城#
      <img src="/testing/images/copy.svg" />
    </div> --}}
    <div id="hashtag-group">
      <img id="hashtagBg" src="/testing/images/hashtagBg.svg" />
      <img id="hashtag" src="/testing/images/hashtag.svg" />
      <div id="hash-msg">复制成功</div>
    </div>
    <p class="direction">向美容顾问展示
      <br />即可获得<span class="color-word">修丽可品牌红包袋一份。</span>
      <br />
      {{!-- (每个ID限拿一份) --}}
    </p>
    <div id="download-btn">
      <div>
        <img id="download" src="/testing/images/download.svg" />
        下载视频
      </div>
    </div>
    <div class="small">*每个ID仅可参加一次，最终解释权归商家所有。</div class="small">
  </div>
</section>
