<div id="popup-overlay">
  <img id="arrow-indicator" src="/cny2021/share/images/icon_arrow.png" />
  <div id="popup-container">
    <img id="main-con" src="/cny2021/share/images/image_download_step.png" />
    <img id="btn-got-it" src="/cny2021/share/images/btn_got_it.png" onclick="closeModal()" />
  </div>
</div>
<div id="open-in-wechat">
  <img id="arrow-indicator" src="/cny2021/share/images/icon_arrow.png" />
  <div class="info-group">
    <div class="info">
      <img id="safari-info" src="/cny2021/share/images/safari.svg" />
      <p>iOS用户请按此并选择<br/>“在Safari中开启”</p>
    </div>
    <div class="info">
      <img id="android-info" src="/cny2021/share/images/android.svg" />
      <p>安卓用户<br/>请在浏览器开启</p>
    </div>
  </div>
</div>
<img src="/cny2021/share/images/gold.png" id="gold-ele" />
<section id="main-section-content">
  <img src="/cny2021/share/images/logo.svg" id="logo-en" />
  <img src="/cny2021/share/images/chinese.svg" id="logo-ch" />
  <div id="video-container">
    <video id="video" controls="controls" preload="auto" autoplay>
      {{#if videoPath}}
        <source src={{videoPath}} type="video/mp4">
      {{/if}}
    </video>
    <div id="video-bg"></div>
  </div>
  <div class="share-section">
    <div id="download-btn">
      <a href={{videoPath}} download="skin-ceuticals視頻.mp4" onclick="triggerModal(event)">
        <img id="download" src="/cny2021/share/images/download.svg" />
        下载视频
      </a>
    </div>
    <p class="social">下载并分享动态视频到<br/>
    <img id="weibo" src="/cny2021/share/images/weibo.svg" />微博或
    <img id="wechat" src="/cny2021/share/images/wechat.svg" />微信，带上话题</p>
    {{!-- <div id="copy-hashtag">
      #修丽可##三亚国际免税城#
      <img src="/cny2021/share/images/copy.svg" />
    </div> --}}
    <div id="hashtag-group">
      <img id="hashtagBg" src="/cny2021/share/images/hashtagBg.svg" />
      <img id="hashtag" src="/cny2021/share/images/hashtag.svg" />
      <div id="hash-msg">复制成功</div>
    </div>
    <p class="direction">向美容顾问展示即可获得
      <br /><span class="color-word">修丽可品牌红包袋一份。</span>
      <br />
      {{!-- (每个ID限拿一份) --}}
    </p>
    <div class="small">*每个ID仅可参加一次，最终解释权归商家所有。</div class="small">
    {{!-- <a id="float-btn" href="https://m.cdfgsanya.com/wap/index.html#/tabs/index/skinceuticalsIndex?random=91904560019745118460" target="_blank"> --}}
    <img id="float-btn" src="/cny2021/share/images/btn_shop.png" onclick="goToShop()">
    {{!-- </a> --}}
  </div>
</section>
