<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/cny2021/share/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#000000" />
    <meta
      name="Skin Ceutical | 修丽可点聚成金迎新春"
      content="修丽可抗氧权威 焕亮肌肤美不氧化"
    />
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/cny2021/share/manifest.json" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://skinceuticalstrasia.cn/share">
    <meta property="og:title" content="Skin Ceutical | 修丽可点聚成金迎新春">
    <meta property="og:description" content="修丽可抗氧权威 焕亮肌肤美不氧化">
    {{!-- <meta property="og:image" content="https://skinc-cny.oss-cn-shenzhen.aliyuncs.com/assets/sharing_image.png" />   --}}
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="629" />
    <meta property="og:locale" content="zh_CN" />   
    <meta property="og:site_name" content="Skin Ceutical | 修丽可点聚成金迎新春">
    <title>Skin Ceutical | 修丽可点聚成金迎新春</title>
    <link rel='stylesheet' href='/cny2021/share/stylesheets/style.css' />
    <script type="text/javascript" src="/cny2021/share/javascripts/clipboard.min.js"></script>
    <script src="/cny2021/share/javascripts/main.js"></script>
  </head>
  <body>
    <div id="root">
      {{{body}}}
    </div>
  </body>
</html>
